{% extends 'master.html' %}
{% load static %}
{% block content %}
<div>
    <h1 class="text-center text-info">Paying For {{ product.name }}</h1>
    <form class="product-form" method="post" action="">
        <p>{{ success }}</p>
        {% csrf_token %}
        <input value="{{ product.price }}" required readonly class="form-control" placeholder="Update qtty" name="p-price" type="text"><br><br>
        <input required class="form-control" placeholder="Phone number" name="c-phone" type="number"><br><br>
        <input class="btn btn-info" value="Pay" type="submit"><br>
        <p>{{ prod_price }}</p>
    </form>
</div>
{% endblock %}