{% extends 'master.html' %}
{% load static %}
{% block content %}
<div>
    <h1 class="text-center text-info">UPDATE PRODUCT</h1>
    <form class="product-form" method="post" action="/update-product/{{ product.id }}">
        <p>{{ success }}</p>
        {% csrf_token %}
        <label>
            <input value="{{ product.name }}" required class="form-control" placeholder="Update name" name="p-name" type="text">
        </label><br><br>
        <input value="{{ product.qtty }}" required class="form-control" placeholder="Update qtty" name="p-qtty" type="text"><br><br>
        <input value="{{ product.size }}" required class="form-control" placeholder="Update size" name="p-size" type="text"><br><br>
        <input value="{{ product.price }}" required class="form-control" placeholder="Update price" name="p-price" type="text"><br><br>
        <input class="btn btn-warning" value="Update" type="submit"><br>
        <p>{{ prod_name }}</p>
        <p>{{ prod_qtty }}</p>
        <p>{{ prod_size }}</p>
        <p>{{ prod_price }}</p>
    </form>
</div>
{% endblock %}